<div>
  <div class="border_div p-1"></div>
  <div class="p-3 rounded">
    <table>
      <tr style="height: 60px">
        <th style="width: 30px">S.no</th>
        <th style="width: 400px">Institute Name</th>
        <th style="width: 500px">Course</th>
        <th>Year</th>
        <th>Duration</th>
        <th>Percentage</th>
      </tr>
      <tr>
        <td>1</td>
        <td>CDAC, Knowledge Park Bangalore</td>
        <td>Post Graduate Diploma in Advanced Computing (PG-DAC)</td>
        <td>2019 - 2020</td>
        <td>8 Months</td>
        <td>75.5 %</td>
      </tr>
      <tr>
        <td>2</td>
        <td>AIACTR, Delhi</td>
        <td>B.Tech in Electronics and Communication Engineering (ECE)</td>
        <td>2012 - 2015</td>
        <td>3 Years</td>
        <td>76 %</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Pusa Polytechnic, Delhi</td>
        <td>Diploma in Electronics and Communication Engineering (ECE)</td>
        <td>2009 - 2012</td>
        <td>3 Years</td>
        <td>82.5 %</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Secondary School Certificate, CBSE</td>
        <td>Science</td>
        <td>2008 - 2009</td>
        <td>1 Year</td>
        <td>85 %</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Schooling, Ryan International School, Delhi</td>
        <td>Science</td>
        <td>1999 - 2009</td>
        <td>10 Years</td>
        <td> - </td>
      </tr>
    </table>
  </div>

  <i class="m-3">* Documents for the above are available on request</i>
</div>
