<div>
  <div
    class="p-3 m-2 shadow rounded text-white plusminus"
    title="Click to Expand"
    data-toggle="collapse"
    href="#topc_coll1"
    role="button"
    (click)="switchIcon(1)"
    aria-expanded="false"
    aria-controls="topc_coll"
  >
    <div class="form-row">
      <div>
        <b
          >You were working as a Patent Engineer before, so why did you decided
          to switch your field after 3.5 years?</b
        >
      </div>
      <div class="ml-auto">
        <i *ngIf="icon1" class="fa fa-plus"></i>
        <i *ngIf="!icon1" class="fa fa-minus"></i>
      </div>
    </div>
  </div>

  <div class="collapse collapsequestionnaire" id="topc_coll1">
    <div class="card p-3 m-2 label-color" style="background-color: #e6eefa">
      <div>
        <p>
          This field is about research and analyzing new technologies and
          initially it felt really good as the work felt new, the company was
          good with nice work culture and good colleagues and along with a nice
          starting package in Delhi-NCR only. But as the year passed by, the
          work became very monotonous, repetetive and boring and with low scope
          of growth in the future. Although the company was good therefore i
          never thought about changing the company, but the field felt very
          limited and boring so decided to change the field
        </p>
      </div>
    </div>
  </div>
  <div
    class="p-3 m-2 shadow rounded bg-success text-white plusminus "
    title="Click to Expand"
    data-toggle="collapse"
    href="#topc_coll2"
    role="button"
    (click)="switchIcon(2)"
    aria-expanded="false"
    aria-controls="topc_coll"
  >
    <div class="form-row">
      <div>
        <b
          >You passed your B.Tech in August 2015, but you started working in
          March 2016?</b
        >
      </div>
      <div class="ml-auto">
        <i *ngIf="icon2" class="fa fa-plus"></i>
        <i *ngIf="!icon2" class="fa fa-minus"></i>
      </div>
    </div>
  </div>

  <div class="collapse collapsequestionnaire" id="topc_coll2">
    <div class="card p-3 m-2 label-color" style="background-color: #e6eefa">
      <div>
        <p>
          Yes, i got placed in one of the big mnc in october 2015 in an
          offcampus driver. I got the offer letter and all the documents were
          also submitted. The joining was on Novemeber 2015, but the company
          kept on extending the Joining Date. In march 2016, they told that the
          offer letter is cancelled as the project for which we were hired was
          cancelled.
        </p>
      </div>
    </div>
  </div>
  <div
    class="p-3 m-2 shadow rounded bg-success text-white plusminus "
    title="Click to Expand"
    data-toggle="collapse"
    href="#topc_coll3"
    role="button"
    (click)="switchIcon(3)"
    aria-expanded="false"
    aria-controls="topc_coll"
  >
    <div class="form-row">
      <div>
        <b>
          You have your B.Tech in Electronics and Communication (ECE), but you
          did advanced computing Course. Why not some ECE related course?
        </b>
      </div>
      <div class="ml-auto">
        <i *ngIf="icon3" class="fa fa-plus"></i>
        <i *ngIf="!icon3" class="fa fa-minus"></i>
      </div>
    </div>
  </div>

  <div class="collapse collapsequestionnaire" id="topc_coll3">
    <div class="card p-3 m-2 label-color" style="background-color: #e6eefa">
      <div>
        <p>
          I was always interested in coding and really liked coding at college
          level and also as i was switching my field after 3.5 years I needed to
          be doubly sure about growth in the future and as there are a lot of
          good companies for software developer as compared to core electronics
          company I decided to do Diploma in computer science<span
            class="text-danger"
          ></span>
        </p>
      </div>
    </div>
  </div>
  <div
    class="p-3 m-2 shadow rounded bg-success text-white plusminus "
    title="Click to Expand"
    data-toggle="collapse"
    href="#topc_coll4"
    role="button"
    (click)="switchIcon(4)"
    aria-expanded="false"
    aria-controls="topc_coll"
  >
    <div class="form-row">
      <div>
        <b> Are your ok to relocate? </b>
      </div>
      <div class="ml-auto">
        <i *ngIf="icon4" class="fa fa-plus"></i>
        <i *ngIf="!icon4" class="fa fa-minus"></i>
      </div>
    </div>
  </div>

  <div class="collapse collapsequestionnaire" id="topc_coll4">
    <div class="card p-3 m-2 label-color" style="background-color: #e6eefa">
      <div>
        <p>
          Yes, I am ok relocating as long as the package and the work is good.
        </p>
      </div>
    </div>
  </div>

  <div
    class="p-3 m-2 shadow rounded bg-success text-white plusminus "
    title="Click to Expand"
    data-toggle="collapse"
    href="#topc_coll5"
    role="button"
    (click)="switchIcon(5)"
    aria-expanded="false"
    aria-controls="topc_coll"
  >
    <div class="form-row">
      <div>
        <b> What is your career objective? </b>
      </div>
      <div class="ml-auto">
        <i *ngIf="icon5" class="fa fa-plus"></i>
        <i *ngIf="!icon5" class="fa fa-minus"></i>
      </div>
    </div>
  </div>

  <div class="collapse collapsequestionnaire" id="topc_coll5">
    <div class="card p-3 m-2 label-color" style="background-color: #e6eefa">
      <div>
        <p>
          I want to become an integral part of the organization, on whom the
          company can trust. A developer on whom the company can trust with
          critical work. A colleague which is approachable by all, be it a
          senior or a junior.
        </p>
      </div>
    </div>
  </div>

  <div
    class="p-3 m-2 shadow rounded bg-success text-white plusminus "
    title="Click to Expand"
    data-toggle="collapse"
    href="#topc_coll6"
    role="button"
    (click)="switchIcon(6)"
    aria-expanded="false"
    aria-controls="topc_coll"
  >
    <div class="form-row">
      <div>
        <b> If given the opportunity, are you ok to travel?</b>
      </div>
      <div class="ml-auto">
        <i *ngIf="icon6" class="fa fa-plus"></i>
        <i *ngIf="!icon6" class="fa fa-minus"></i>
      </div>
    </div>
  </div>

  <div class="collapse collapsequestionnaire" id="topc_coll6">
    <div class="card p-3 m-2 label-color" style="background-color: #e6eefa">
      <div>
        <p>Yes, if given the opportunity I am ok with travelling.</p>
      </div>
    </div>
  </div>

  <div
    class="p-3 m-2 shadow rounded bg-success text-white plusminus "
    title="Click to Expand"
    data-toggle="collapse"
    href="#topc_coll7"
    role="button"
    (click)="switchIcon(7)"
    aria-expanded="false"
    aria-controls="topc_coll"
  >
    <div class="form-row">
      <div>
        <b> What is your current notice period ?</b>
      </div>
      <div class="ml-auto">
        <i *ngIf="icon7" class="fa fa-plus"></i>
        <i *ngIf="!icon7" class="fa fa-minus"></i>
      </div>
    </div>
  </div>

  <div class="collapse collapsequestionnaire" id="topc_coll7">
    <div class="card p-3 m-2 label-color" style="background-color: #e6eefa">
      <div>
        <p>
          Three Months. Yes, it is negotiable, but depends on project and
          manager.
        </p>
      </div>
    </div>
  </div>

  <div
    class="p-3 m-2 shadow rounded bg-success text-white plusminus "
    title="Click to Expand"
    data-toggle="collapse"
    href="#topc_coll8"
    role="button"
    (click)="switchIcon(8)"
    aria-expanded="false"
    aria-controls="topc_coll"
  >
    <div class="form-row">
      <div>
        <b> What is your total experience and relevant experience?</b>
      </div>
      <div class="ml-auto">
        <i *ngIf="icon8" class="fa fa-plus"></i>
        <i *ngIf="!icon8" class="fa fa-minus"></i>
      </div>
    </div>
  </div>

  <div class="collapse collapsequestionnaire" id="topc_coll8">
    <div class="card p-3 m-2 label-color" style="background-color: #e6eefa">
      <div>
        <p>Total Experience: {{ totalExp }}</p>
        <p>Relevant Experience: {{ relevantExp }}</p>
      </div>
    </div>
  </div>

  <div
    class="p-3 m-2 shadow rounded bg-success text-white plusminus "
    title="Click to Expand"
    data-toggle="collapse"
    href="#topc_coll9"
    role="button"
    (click)="switchIcon(9)"
    aria-expanded="false"
    aria-controls="topc_coll"
  >
    <div class="form-row">
      <div>
        <b> Why your B.Tech is of 3 Years ?</b>
      </div>
      <div class="ml-auto">
        <i *ngIf="icon9" class="fa fa-plus"></i>
        <i *ngIf="!icon9" class="fa fa-minus"></i>
      </div>
    </div>
  </div>

  <div class="collapse collapsequestionnaire" id="topc_coll9">
    <div class="card p-3 m-2 label-color" style="background-color: #e6eefa">
      <div>
        <p>
          I did Diploma instead of Higher Secondary Certificate (HSC), which is
          equivalent to HSC and it is of 3 years. So after diploma you directly
          enter 2 year college as lateral enrty students. So the total
          number of years remain 6 only.
        </p>
      </div>
    </div>
  </div>
</div>
