img {
  border-radius: 50%;
}

.navbar-nav li a:hover {
  border-radius: 6%;
  color: #fff !important;
  background-color: #f55858 !important;
  background-image: none !important;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link:focus {
  font-size:20px;
  color: black;
  font-weight: 500;
  font-style: italic;
  text-decoration: underline;
}
/* .navbar-light .navbar-nav .nav-link:hover {
  color: rgb(240, 247, 240);
} */
/* .nav-link {
  padding: 15px 5px;
  transition: 0.2s;
} */

.thumbnail {
  position: relative;
  z-index: 0;
}

.thumbnail:hover {
  background-color: transparent;
  z-index: 50;
}

.thumbnail span {
  /*CSS for enlarged image*/
  position: absolute;
  padding: 5px;
  left: -1000px;
  visibility: hidden;
  text-decoration: none;
}

.thumbnail span img {
  /*CSS for enlarged image*/
  border-width: 0;
  padding: 2px;
}

.thumbnail:hover span {
  /*CSS for enlarged image on hover*/
  visibility: visible;
  top: 0;
  left: 60px; /*position where enlarged image should offset horizontally */
}
