<!-- <div>
  <div
    class="p-3 m-2 shadow rounded text-white bg-success"
    title="Click to Expand"
    data-toggle="collapse"
    href="#topc_coll1"
    role="button"
    (click)="switchIcon(1)"
    aria-expanded="false"
    aria-controls="topc_coll"
  >
    <div class="row">
      <div class="col-sm-4 mt-2">
        <h5><b>Tech Mahindra, Noida</b></h5>
      </div>
      <div class="col-sm-3">
        <div class="row">
          <div>
            <input
              type="date"
              disabled="true"
              class="form-control"
              id="inputDob"
              value="{{ startDateTechM }}"
            />
          </div>
          <div style="margin-top: 7px">
            <h5><b>&nbsp;- Present</b></h5>
          </div>
        </div>
      </div>
      <div class="ml-auto m-2">
        <i *ngIf="icon1" class="fa fa-plus"></i>
        <i *ngIf="!icon1" class="fa fa-minus"></i>
      </div>
    </div>
  </div>

  <div class="collapse show collapsequestionnaire" id="topc_coll1">
    <div class="card p-3 m-2 label-color" style="background-color: #e6eefa">
      <div>
        <ul>
          <li>Working as Software Engineer</li>
          <li>Working as Java Resource in telecommunication domain</li>
          <li>Worked on modernization projects</li>
        </ul>
      </div>
    </div>
  </div>

  <div
    class="p-3 m-2 mt-3 shadow rounded text-white bg-success"
    title="Click to Expand"
    data-toggle="collapse"
    href="#topc_coll2"
    role="button"
    (click)="switchIcon(2)"
    aria-expanded="false"
    aria-controls="topc_coll"
  >
    <div class="row">
      <div class="col-sm-4 mt-2">
        <h5><b>Prakat Solutions, Bangalore</b></h5>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div>
            <input
              type="date"
              disabled="true"
              class="form-control"
              id="inputDob"
              value="{{ startDatePrakat }}"
            />
          </div>
          <div style="margin-top: 7px">
            <h5><b>&nbsp;-&nbsp;</b></h5>
          </div>
          <div>
            <input
              type="date"
              disabled="true"
              class="form-control"
              id="inputDob"
              value="{{ endDatePrakat }}"
            />
          </div>
        </div>
      </div>
      <div class="ml-auto m-2">
        <i *ngIf="icon2" class="fa fa-plus"></i>
        <i *ngIf="!icon2" class="fa fa-minus"></i>
      </div>
    </div>
  </div>

  <div class="collapse show collapsequestionnaire" id="topc_coll2">
    <div class="card p-3 m-2 label-color" style="background-color: #e6eefa">
      <div>
        <ul>
          <li>Worked as Full Stack Developer</li>
          <li>
            Worked on Vuejs on FrontEnd, Spring/SpringBoot as BackEnd and
            PostGreSQl in the Database side
          </li>
          <li>
            Worked on end-to-end development on couple of projects in medical
            domain
          </li>
          <li>Star of the quarter couple of times in the first year</li>
        </ul>
      </div>
    </div>
  </div>

  <div
    class="p-3 m-2 mt-3 shadow rounded text-white bg-success"
    title="Click to Expand"
    data-toggle="collapse"
    href="#topc_coll3"
    role="button"
    (click)="switchIcon(3)"
    aria-expanded="false"
    aria-controls="topc_coll"
  >
    <div class="row">
      <div class="col-sm-4 mt-2">
        <h5><b>UnitedLex, Gurgaon</b></h5>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div>
            <input
              type="date"
              disabled="true"
              class="form-control"
              id="inputDob"
              value="{{ startDateUnitedLex }}"
            />
          </div>
          <div style="margin-top: 7px">
            <h5><b>&nbsp;-&nbsp;</b></h5>
          </div>
          <div>
            <input
              type="date"
              disabled="true"
              class="form-control"
              id="inputDob"
              value="{{ endDateUnitedLex }}"
            />
          </div>
        </div>
      </div>
      <div class="ml-auto m-2">
        <i *ngIf="icon3" class="fa fa-plus"></i>
        <i *ngIf="!icon3" class="fa fa-minus"></i>
      </div>
    </div>
  </div>

  <div class="collapse show collapsequestionnaire" id="topc_coll3">
    <div class="card p-3 m-2 label-color" style="background-color: #e6eefa">
      <div>
        <ul>
          <li>Worked as Patent Engineer</li>
          <li>
            Worked on FTO, Patentability search, Invalidity search, Infringement
            search and Knockout search for multiple clients
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
<div>
  <div>
    <div class="container marketing">
      <hr class="featurette-divider" />
      <div class="row featurette">
        <div class="col-sm">
          <h2 class="featurette-heading">
            Tech Mahindra, Noida
            <br />
          </h2>
          <h5>
            <span class="text-muted">25/05/2021 - Present</span>
          </h5>

          <ul class="lead">
            <li>Software Engineer</li>
            <li>Working as Java Resource in telecommunication domain</li>
            <li>Worked on modernization projects</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <img class="border" src="../../assets/Tech Mahindra.jfif" alt="" />
        </div>
      </div>
      <hr class="featurette-divider" />
      <div class="row featurette">
        <div class="col-sm">
          <h2 class="featurette-heading">Prakat Solutions, Bengaluru</h2>
          <h5>
            <span class="text-muted">16/04/2020 - 23/05/2021</span>
          </h5>
          <ul class="lead">
            <li>Full Stack Developer</li>
            <li>Worked on Vuejs, Spring/SpringBoot and PostGreSQL</li>
            <li>
              Worked on end-to-end development on couple of projects in medical
              domain
            </li>
            <li>Star of the quarter couple of times in the first year</li>
          </ul>
        </div>
        <div class="col-md-4">
          <img
            src="../../assets/Prakat Solutions.jfif"
            alt="First slide"
            class="border"
          />
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-sm">
          <h2 class="featurette-heading">UnitedLex, Gurugram</h2>
          <h5>
            <span class="text-muted">21/03/2016 - 18/08/2019</span>
          </h5>
          <ul class="lead">
            <li>Patent Engineer</li>
            <li>
              Worked on FTO, Patentability search, Invalidity search,
              Infringement search and Knockout search for multiple clients
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <img
            class="border"
            style="width: 200px; height: 190px"
            src="../../assets/UnitedLex.png"
            alt=""
          />
        </div>
      </div>

      <hr class="featurette-divider" />
    </div>
  </div>
</div>
