<div id="team" class="m-3">
  <div>
    <div class="row">
      <!-- Team member -->
      <div class="col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="../../assets/Vue.JS Logo.png"
                      alt="card image"
                      style="height: 75px"
                    />
                  </p>
                  <h4 class="card-title">Vue.js</h4>
                  <div>
                    <div><h5>Proficiency</h5></div>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star mr-1"></span>
                    <span class="fa fa-star"></span>
                  </div>

                  <a href="#" class="btn btn-primary btn-sm mt-3"
                    >View More Information</a
                  >
                </div>
              </div>
            </div>
            <div class="backside col-sm-12">
              <div class="card">
                <div class="card-body">
                  <ul>
                    Experience
                    <li>1.5+ years</li>
                  </ul>
                  <ul>
                    Projects
                    <li>Couple of projects in medical domain</li>
                    <li>Couple of freelancing projects</li>
                  </ul>
                  <ul>
                    Technology
                    <li>HTML, CSS, BootStrap</li>
                    <li>Javascript</li>
                    <li>Vuex Store</li>
                    <li>Axios (API calling)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--ANGULAR-->
      <div class="col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="../../assets/Angular Logo.png"
                      alt="card image"
                      style="height: 80px"
                    />
                  </p>
                  <h4 class="card-title">Angular</h4>
                  <div>
                    <div><h5>Proficiency</h5></div>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <i class="fa fa-star-half-full mr-1 checked"></i>
                    <span class="fa fa-star mr-1"></span>
                    <span class="fa fa-star mr-1"></span>
                    <span class="fa fa-star"></span>
                  </div>

                  <a href="#" class="btn btn-primary btn-sm mt-3"
                    >View More Information</a
                  >
                </div>
              </div>
            </div>
            <div class="backside col-sm-12">
              <div class="card">
                <div class="card-body">
                  <ul>
                    Experience
                    <li>8+ Months</li>
                  </ul>
                  <ul>
                    Projects
                    <li>Modernization of existing applications</li>
                    <li>Couple of personal projects</li>
                  </ul>
                  <ul>
                    Technology
                    <li>HTML, CSS, BootStrap</li>
                    <li>Typescript, Javascript</li>
                    <li>NgRx Store</li>
                    <li>HTTP (API calling)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Spring -->
      <div class="col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="../../assets/Spring Logo.png"
                      alt="card image"
                      style="height: 75px; width: 70px"
                    />
                  </p>
                  <h4 class="card-title">Spring-SpringBoot</h4>
                  <div>
                    <div><h5>Proficiency</h5></div>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star mr-1"></span>
                    <span class="fa fa-star"></span>
                  </div>

                  <a href="#" class="btn btn-primary btn-sm mt-3"
                    >View More Information</a
                  >
                </div>
              </div>
            </div>
            <div class="backside col-sm-12">
              <div class="card">
                <div class="card-body">
                  <ul>
                    Experience
                    <li>1.5+ years</li>
                  </ul>
                  <ul>
                    Projects
                    <li>Couple of projects in medical domain</li>
                    <li>Couple of freelancing projects</li>
                  </ul>
                  <ul>
                    Technology
                    <li>Java (1.8)</li>
                    <li>Collections</li>
                    <li>ORM (Hibernate, JPA)</li>
                    <li>Microservices</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Nodejs -->
      <div class="col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="../../assets/nodejs Logo.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Node.js</h4>
                  <div>
                    <div><h5>Proficiency</h5></div>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star mr-1"></span>
                    <span class="fa fa-star mr-1"></span>
                    <span class="fa fa-star mr-1"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <a href="#" class="btn btn-primary btn-sm mt-3"
                    >View More Information</a
                  >
                </div>
              </div>
            </div>
            <div class="backside col-sm-12">
              <div class="card">
                <div class="card-body">
                  <ul>
                    Experience
                    <li>6+ Months</li>
                  </ul>
                  <ul>
                    Projects
                    <li>Conversion of SpringBoot to nodejs</li>
                    <li>Couple of personal projects</li>
                  </ul>
                  <ul>
                    Technology
                    <li>Javascript</li>
                    <li>Express</li>
                    <li>Router</li>
                    <li>Mongoose</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- PostGreSQL -->
      <div class="col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid mt-2"
                      src="../../assets/PostGreSQL Logo.jpg"
                      style="height: 105px; width: 120px"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title mt-4">PostgreSQL</h4>
                  <div>
                    <div><h5>Proficiency</h5></div>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star mr-1"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <a href="#" class="btn btn-primary btn-sm mt-3"
                    >View More Information</a
                  >
                </div>
              </div>
            </div>
            <div class="backside col-sm-12">
              <div class="card">
                <div class="card-body">
                  <ul>
                    Experience
                    <li>1.3+ Years</li>
                  </ul>
                  <ul>
                    Projects
                    <li>Couple of medical domain</li>
                    <li>Couple of personal & freelancing projects</li>
                  </ul>
                  <ul>
                    Technology
                    <li>PostgreSQL 12</li>
                    <li>pgAdmin 4</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- PostGreSQL -->
      <div class="col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid mt-2"
                      src="../../assets/MongoDb logo.jpg"
                      style="height: 103px; width: 150px"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title mt-4">MongoDB</h4>
                  <div>
                    <div><h5>Proficiency</h5></div>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <span class="fa fa-star checked mr-1"></span>
                    <i class="fa fa-star-half-full mr-1 checked"></i>
                    <span class="fa fa-star mr-1"></span>
                    <span class="fa fa-star mr-1"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <a href="#" class="btn btn-primary btn-sm mt-3"
                    >View More Information</a
                  >
                </div>
              </div>
            </div>
            <div class="backside col-sm-12">
              <div class="card">
                <div class="card-body">
                  <ul>
                    Experience
                    <li>6+ Months</li>
                  </ul>
                  <ul>
                    Projects
                    <li>Couple of personal projects</li>
                  </ul>
                  <ul>
                    Technology
                    <li>MongoDB 5</li>
                    <li>MongoDB Compass</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team -->
