#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 !important;
    /* background-color:rgb(221, 190, 190);
    background-image: linear-gradient(180deg, rgb(95, 81, 65) 0%, #ffffff 100%); */
  }