<div style="overflow-x: hidden">
  <div class="row p-3">
    <div
      class="card col-sm m-2 rounded"
      style="background-color: rgb(248, 215, 220);border-width: 1px;border-color: black;"
    >
      <div class="card-body">
        <a routerLink="/skills"
          ><h3 class="card-title">
            <i class="fa fa-user-secret"></i> Skill Set
          </h3></a
        >
        <hr />
        <div class="row">
          <div class="col-sm">
            <h4>FrontEnd</h4>

            <ul style="margin-left: -20px">
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript</li>
              <li>Typescript</li>
              <li>Angular</li>
              <ul>
                <li>RxJS</li>
                <li>NgRx</li>
              </ul>
              <li>Vuejs</li>
              <ul>
                <li>Vuex</li>
                <li>Axios</li>
              </ul>
            </ul>
          </div>
          <div class="col-sm">
            <h4>BackEnd</h4>

            <ul style="margin-left: -20px">
              <li>Java</li>
              <li>Spring</li>
              <li>SpringBoot</li>
              <li>Hibernate</li>
              <li>JPA</li>
              <li>NodeJs</li>
              <li>Express</li>
              <li>Microservice</li>
            </ul>
          </div>
          <div class="col-sm">
            <h4>DataBase</h4>

            <ul style="margin-left: -20px">
              <li>PostGreSQL</li>
              <li>SQL</li>
              <li>MongoDB</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="card col-sm m-2 rounded"
      style="background-color: rgb(216, 231, 250);border-width: 1px;border-color: black;"
    >
      <div class="card-body">
        <a routerLink="/experience">
          <h3 class="card-title">
            <i class="fa fa-graduation-cap"></i> Experience
          </h3></a
        >
        <hr />
        <div class="row">
          <div class="col-sm-12">
            <h4>Tech Mahindra, Noida</h4>

            <ul>
              <li>Software Engineer</li>
            </ul>
          </div>
          <div class="col-sm-12">
            <h4>Prakat Solutions, Bangalore</h4>

            <ul>
              <li>Full Stack Developer</li>
            </ul>
          </div>
          <div class="col-sm-12">
            <h4>Unitedlex, Gurgaon</h4>

            <ul>
              <li>Patent Engineer</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="card col-sm m-2  rounded"
      style="background-color: rgb(208, 238, 208);border-width: 1px;border-color: black;"
    >
      <div class="card-body">
        <a routerLink="/education">
          <h3 class="card-title">
            <i class="fa fa-briefcase"></i> Education
          </h3></a
        >
        <hr />
        <div class="row">
          <div class="col-sm-12">
            <h4>PG Diploma</h4>

            <ul style="margin-left: -20px">
              <li>CDAC, Bangalore</li>
              <ul>
                <li>Digital Advance Computing (DAC)</li>
              </ul>
            </ul>
          </div>
          <div class="col-sm-12">
            <h4>BTech</h4>

            <ul style="margin-left: -20px">
              <li>AIACTR, Delhi</li>
              <ul>
                <li>Electronics and Communication Engineering (ECE)</li>
              </ul>
            </ul>
          </div>
          <div class="col-sm-12">
            <h4>Diploma (12th)</h4>

            <ul style="margin-left: -20px">
              <li>Pusa Polytechnic, Delhi</li>
              <ul>
                <li>Electronics and Communication Engineering (ECE)</li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <p>HTML</p>
<div class="container">
  <div class="skills html">90%</div>
</div>

<p>CSS</p>
<div class="container">
  <div class="skills css">80%</div>
</div>

<p>JavaScript</p>
<div class="container">
  <div class="skills js">65%</div>
</div>

<p>PHP</p>
<div class="container">
  <div class="skills php">60%</div>
</div> -->
</div>
